<h1>Stupid Coaching</h1>

<p>Question</p>

<p>Answer</p>
<% if @answer == 'I am going to work' %>
  <%= '- Great' %>
<% elsif @answer[-1] == '?' %>
  <%= '- Silly question, get dressed and go to work!' %>
<% else %>
  <%= '- I dont care, get dressed and go to work!' %>
<% end %>
